          <tr class='places'>
            <td class='empty'> </td>
            <td>finisher!</td>
            <td>#1</td>
            <td>#2</td>
            <td>#3</td>
          </tr>
          <tr class='names'>
            <td class='empty'> </td>
            <td><%= user.name %></td>
            <td><%= runners[0].name %></td>
            <td><%= runners[1].name %></td>
            <td><%= runners[2].name %></td>
          </tr>
          <tr class='countries'>
            <td class='empty'> </td>
            <td><%= user.country %></td>
            <td><%= runners[0].hometown %></td>
            <td><%= runners[1].hometown %></td>
            <td><%= runners[2].hometown %></td>
          </tr>
          <tr class='times'>
            <td class='empty'> </td>
            <td><%= user.time %></td>
            <td><%= runners[0].time %></td>
            <td><%= runners[1].time %></td>
            <td><%= runners[2].time %></td>
        </table>